@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
  font-family: 'Roboto Condensed', sans-serif;

}


  .carousel-content{
    position: absolute;
    left: 0%;
    right: 0%;
  }

  .item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
  }

  .item-caption{
    color: white;
  }
  
  @media only screen  and (max-width:767px){
    #widthmax{
        width: 100%;
    }
    
  }

